<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>제품 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">제품 목록</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>이미지</th> <!-- 이미지 열 추가 -->
            <th>제품 이름</th>
            <th>설명</th>
            <th>가격</th>
            <th>카테고리</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(products)}">
            <td colspan="7" class="text-center">등록된 제품이 없습니다.</td> <!-- colspan 수정 -->
        </tr>
        <tr th:each="product : ${products}" th:if="${!#lists.isEmpty(products)}">
            <td>
                <div th:each="imgUrl : ${product.productImgUrl}">
                    <img th:src="@{/images/{filename}(filename=${imgUrl})}" alt="Product Image" style="max-width: 200px;"/>
                </div>
            </td>

            <td>
                <a th:href="@{/admin/products/{id}(id=${product.productId})}" th:text="${product.productName}" style="text-decoration: none; color: inherit;"></a>
            </td>
            <td th:text="${product.description}">설명</td>
            <td th:text="${product.price}">가격</td>
            <td>
                <span th:each="cat : ${product.category}" th:text="${cat}"></span>
            </td> <!-- 카테고리 수정 -->

            <td>
                <form th:action="@{/admin/products/update/{id}(id=${product.productId})}" method="get" style="display:inline;">
                    <button type="submit" class="btn btn-warning btn-sm">수정</button>
                </form>
            </td>
            <td>
                <form th:action="@{/admin/products/delete/{id}(id=${product.productId})}" method="post" style="display:inline;" onsubmit="return confirm('정말 삭제하시겠습니까?');">
                    <button type="submit" class="btn btn-danger btn-sm">삭제</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="mt-3">
        <a th:href="@{/admin/products/add}" class="btn btn-primary">제품 등록</a>
        <a th:href="@{/admin/categories/add}" class="btn btn-primary">카테고리 등록</a>
    </div>
</div>
</body>
</html>
